header {
  background-image: url(image/Group.png);
  background-repeat: no-repeat;
  background-position: right 80mm;
  background-color: #1c1a19;
  height: 590px;
  width: 375px;
  left: 0;
  top: 92px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px;
  position: absolute;
  margin-left: 33%;
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  position: static;
  width: 327px;
  height: 124px;
  left: 24px;
  top: 120px;
  font-style: normal;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 12px 0;
}

h2 {
  position: static;
  width: 327px;
  height: 27px;
  left: 24px;
  top: 256px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  flex-grow: 0;
  order: 1;
  margin: 12px 0;
}

h3 {
  position: static;
  width: 327px;
  height: 123px;
  left: 24px;
  top: 295px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 12px 0;
}

section {
  margin-left: 35px;
  margin-right: 161px;
  margin-top: 42px;
  margin-bottom: 130px;
  display: flex;
  order: 3;
}

div {
  margin-left: 35px;
}

.n1 {
  margin-left: 0;
}

nav {
  position: absolute;
  width: 423px;
  height: 92px;
  left: 0;
  top: 0;
  background: #3c3a39;
}

p {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 0;
  top: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #fff;
  margin-left: 21px;
  margin-top: auto;
}

.ul {
  width: 70px;
  margin-left: 310px;
  margin-top: 12px;
}

h4 {
  position: static;
  width: 77px;
  height: 24px;
  left: 12px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left: 0;
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.img {
  margin-left: 360px;
  margin-top: 40px;
}
